// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Home row mods macro - usage example: HRMR(N,        E,         I,        O)
#define HRML(k1,k2,k3,k4) &ht LSHFT k1  &ht LALT k2  &ht LCTRL k3  &ht LGUI k4
#define HRMR(k1,k2,k3,k4) &ht RGUI k1  &ht RCTRL k2  &ht RALT k3  &ht RSHFT k4

// Thumb row layer macro
#define TRLR(k1,k2,k3,k4) &lt 2 k1	&lt 1 k2	&lt 1 k3	&lt 2 k4


// COMBOS
/ {
    combos {
        compatible = "zmk,combos";
        combo_tab {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp TAB>;
        };
		
		combo_ctrl_shft_esc {
            timeout-ms = <50>;
            key-positions = <0 10 20>;
            bindings = <&kp LCTRL &kp LSHFT &kp ESC>;
        };
		
		combo_semicolon {
            timeout-ms = <50>;
            key-positions = <26 27>;
            bindings = <&kp COLON>;
        };
		
		combo_colon {
            timeout-ms = <50>;
            key-positions = <26 28>;
            bindings = <&kp SEMICOLON>;
        };
		
		combo_cut {
            timeout-ms = <50>;
            key-positions = <20 21>;
            bindings = <&kp LCTRL &kp X>;
        };
		
		combo_copy {
            timeout-ms = <50>;
            key-positions = <20 22>;
            bindings = <&kp LCTRL &kp C>;
        };
		
		combo_paste {
            timeout-ms = <50>;
            key-positions = <20 23>;
            bindings = <&kp LCTRL &kp V>;
        };
    };
};


/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <350>;
            quick-tap-ms = <250>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
//        graphite_layer {
//            bindings = <
//        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
//        //│  B       │  L       │  D       │  W       │  Z       │   │  -       │  F       │  O       │  U       │  J       │
//            &kp B      &kp L      &kp D      &kp W      &kp Z          &kp MINUS  &kp F      &kp O      &kp U      &kp J
//        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
//        //│  N       │  R       │  T       │  S       │  G       │   │  Y       │  H       │  A       │  E       │  I       │
//            HRML(N,        R,         T,         S)     &kp G          &kp Y      HRMR(H,        A,         E,        I)
//        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
//        //│  Q       │  X       │  M       │  C       │  V       │   │  K       │  P       │ , <      │ . >      │ ' "      │
//            &kp Q      &kp X      &kp M      &kp C      &kp V          &kp K      &kp P      &kp COMMA  &kp DOT    &kp SQT
//        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
//                                           &kp SPACE &lt 2 SEMICOLON  &lt 1 BSPC  &kp ENTER
//        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
//            >;
//        };
//		
		colmak_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  F       │  P       │  B       │   │  J       │  L       │  U       │  Y       │          │
          &ht LALT Q   &kp W      &kp F      &kp P      &kp B          &kp J     &kp L      &kp U      &kp Y     &ht LALT BSPC
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  R       │  S       │  T       │  G       │   │  M       │  N       │  E       │  I       │  O       │
          &ht LCTRL A &ht LGUI R  &kp S      &kp T      &kp G          &kp M      &kp N      &kp E    &ht RGUI I &ht RSHFT O
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  D       │  V       │   │  K       │  H       │ , <      │ . >      │ ' "      │
          &ht LSHFT Z  &kp X      &kp C      &kp D      &kp V          &kp K      &kp H      &kp COMMA  &kp DOT    &kp SQT
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
										TRLR( SPACE,   SEMICOLON,      BSPC,       ENTER)	
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        one_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  /       │  1       │  2       │  3       │  +       │   │ MUTE     │ HOME     │ UP       │ END      │          │
            &kp SLASH  &kp N1     &kp N2     &kp N3     &kp PLUS      &kp C_MUTE  &kp HOME   &kp UARW   &kp END    &kp BSPC
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  *       │  4       │  5       │  6       │  -       │   │ VOL UP   │ LEFT     │ DOWN     │ RIGHT    │ DELETE   │
            &kp ASTRK  &kp N4     &kp N5     &kp N6     &kp MINUS    &kp C_VOL_UP &kp LARW   &kp DARW    &kp RARW  &kp DEL
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  =       │  7       │  8       │  9       │  0       │   │ VOL DOWN │ PAGE DN  │          │ PAGE UP  │          │
           &kp EQUAL   &kp N7     &kp N8     &kp N9     &kp N0       &kp C_VOL_DN &kp PG_DN  &trans     &kp PG_UP  &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &kp ESC        &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        two_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│    ~     │  #       │  [       │  ]       │   ^      │   │  `       │   |      │  &       │          │          │
            &kp TILDE  &kp POUND   &kp LBKT   &kp RBKT   &kp CARET     &kp GRAVE  &kp PIPE   &kp AMPS   &trans     &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  (       │  )       │  {       │  }       │  \       │   │  <       │  -       │  >       │  *       │  _       │
            &kp LPAR   &kp RPAR   &kp LBRC   &kp RBRC   &kp BSLH       &kp LT    &kp MINUS   &kp GT     &kp STAR   &kp UNDER
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │  %       │  @       │  CAPS    │   │  &       │  =       │  !       │  ?       │ PRNT SCRN|
            &trans     &trans     &kp PRCNT   &kp AT   &caps_word      &kp AMPS   &kp EQUAL  &kp EXCL   &kp QMARK  &kp PSCRN
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        tri_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │ PROFILE 0│ PROFILE 1│ PROFILE 2│ CLEAR BT │   │          │ FUNC 1   │ FUNC 2   │ FUNC 3   │ FUNC 4   │
            &trans &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_CLR  &trans     &kp F1     &kp F2     &kp F3     &kp F4
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  CTRL    │  ALT     │  LGUI    │          │ RESET    │   │          │ FUNC 5   │ FUNC 6   │ FUNC 7   │ FUNC 8   │
           &kp LCTRL   &kp LALT   &kp LGUI   &trans    &sys_reset      &trans     &kp F5     &kp F6     &kp F7     &kp F8
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ SHIFT    │          │          │          │BOOTLOADER│   │          │ FUNC 9   │ FUNC 10  │ FUNC 11  │ FUNC 12  │
            &kp LSHFT  &trans     &trans     &trans    &bootloader     &trans     &kp F9     &kp F10    &kp F11    &kp F12
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
